.Logo {
  width: 100px;
  cursor: pointer;
}
.HeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Navigations {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AccountBtn {
  color: #392ca0;
  font-size: 12px;
  font-weight: 600;
  background-color: #fecfcf;
  padding: 12px 18px;
  border-radius: 15px;
  cursor: pointer;
}
.Hamburger {
  width: 30px;
  display: none;
}
.Dashes {
  width: 100%;
  height: 3px;
  background-color: black;
  margin-bottom: 3px;
}

@media (max-width: 600px) {
  .Navigations {
    display: none;
  }
  .AccountBtn {
    display: none;
  }
  .Hamburger {
    display: block;
  }
}
